# NUMERICAL OPERATIONS

## Addition (+)

In [ ]:
a = 5
b = 10
result = a + b
print(result)

## Subtraction (-)

In [ ]:
a = 15
b = 7
result = a - b
print(result)

## Multiplication (*)

In [ ]:
a = 6
b = 4
result = a * b
print(result)

## Division (/)

In [ ]:
a = 20
b = 5
result = a / b
print(result)

## Floor Division (//)

In [ ]:
a = 20
b = 3
result = a // b
print(result)

## Modulus (%)

In [ ]:
a = 17
b = 4
result = a % b
print(result)

## Exponentiation (**)

In [ ]:
a = 2
b = 5
result = a ** b
print(result)

## Absolute value (abs())

In [ ]:
num = -10
result = abs(num)
print(result)

## Round (round())

In [ ]:
num = 3.75
result = round(num)
print(result)

## Minimum (min()) and Maximum (max())

In [ ]:
numbers = [5, 2, 9, 1, 7]
min_val = min(numbers)
max_val = max(numbers)
print(min_val)  # Output: 1
print(max_val)

## Sum (sum())

In [ ]:
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)
print(total)

## Concatenation of strings

In [ ]:
text1 = "Hello, "
text2 = "World!"
result = text1 + text2
print(result)

# ⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃

# Data Structures

## String

#### A string is a sequence of characters enclosed within single (' ') or double (" ") quotes.

In [ ]:
name = "John Doe"
print(name) # Output: "John Doe"

# List
#### A list is an ordered and mutable collection of elements, which can be of different data types.

In [ ]:
# Example of a list
fruits = ["apple", "banana", "orange", "grape"]
print(fruits)  # Output: ['apple', 'banana', 'orange', 'grape']

# Accessing elements by index
print(fruits[0])  # Output: 'apple'

# Adding elements to the list
fruits.append("kiwi")
print(fruits)  # Output: ['apple', 'banana', 'orange', 'grape', 'kiwi']

# Modifying elements in the list
fruits[1] = "pear"
print(fruits)  # Output: ['apple', 'pear', 'orange', 'grape', 'kiwi']

# Tuple
#### A tuple is an ordered and immutable collection of elements, which can be of different data types.

In [ ]:
# Example of a tuple
coordinates = (10, 20)
print(coordinates)  # Output: (10, 20)

# Accessing elements by index
print(coordinates[0])  # Output: 10

# Tuples are immutable (can't be modified after creation)
# The following line will raise an error
# coordinates[0] = 5

# Dicitonary
#### A dictionary is an unordered collection of key-value pairs.

In [ ]:
# Example of a dictionary
student = {
    "name": "John",
    "age": 20,
    "major": "Computer Science",
    "gpa": 3.5
}
print(student)  # Output: {'name': 'John', 'age': 20, 'major': 'Computer Science', 'gpa': 3.5}

# Accessing values using keys
print(student["name"])  # Output: 'John'

# Adding a new key-value pair
student["is_enrolled"] = True
print(student)  # Output: {'name': 'John', 'age': 20, 'major': 'Computer Science', 'gpa': 3.5, 'is_enrolled': True}

# Modifying values using keys
student["gpa"] = 3.8
print(student)  # Output: {'name': 'John', 'age': 20, 'major': 'Computer Science', 'gpa': 3.8, 'is_enrolled': True}

# Set
#### A set is an unordered collection of unique elements.

In [ ]:
# Example of a set
numbers_set = {1, 2, 3, 4, 5}
print(numbers_set)  # Output: {1, 2, 3, 4, 5}

# Sets automatically remove duplicate elements
duplicate_set = {1, 2, 2, 3, 3, 3}
print(duplicate_set)  # Output: {1, 2, 3}

# ⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃

# LOGICAL OPERATORS

## IF & ELSE

In [ ]:
age = 20

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

## IF & ELIF & ELSE

In [ ]:
score = 85

if score >= 90:
    print("A grade")
elif score >= 80:
    print("B grade")
elif score >= 70:
    print("C grade")
elif score >= 60:
    print("D grade")
else:
    print("You failed.")

## Equality Operator (==)

In [ ]:
a = 5
b = 10

result = a == b
print(result)  # Output: False

c = 15
d = 15

result = c == d
print(result) # Output: True

## Inequality Operator (!=)

In [ ]:
x = 20
y = 25

result = x != y
print(result)  # Output: True

m = 7
n = 7

result = m != n
print(result)  # Output: False

## Logical AND

In [ ]:
age = 25
is_student = True

result = age >= 18 and is_student
print(result)  # Output: True

is_teacher = False
result = age >= 18 and is_teacher
print(result)  # Output: False

## Logical OR

In [ ]:
is_weekend = False
is_holiday = True

result = is_weekend or is_holiday
print(result)  # Output: True

is_weekend = True
result = is_weekend or is_holiday
print(result)  # Output: True

## Logical NOT

In [ ]:
is_raining = True

result = not is_raining
print(result)  # Output: False

is_sunny = False
result = not is_sunny
print(result)  # Output: True

# ⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃

# LOOPS

## For Loop:
### The "for" loop is used to iterate over a sequence (like a list, tuple, string, or dictionary) and execute a block of code for each element in the sequence.

In [ ]:
fruits = ["apple", "banana", "orange", "melon"]
for fruit in fruits:
    print(fruit)
# Output:
# apple
# banana
# orange
# melon

## While Loop:
### The "while" loop is used to execute a block of code repeatedly as long as a specified condition is true. It is suitable when you do not know the number of iterations beforehand

In [ ]:
x = 0
while x < 5:
    print(count)
    x += 1
# Output:
# 0
# 1
# 2
# 3
# 4

## Nested Loops:
### You can also have loops within loops, known as nested loops. This allows you to perform more complex iterations

In [ ]:
# for i in range(3):
    for j in range(2):
        print(f"({i}, {j})")
# Output:
# (0, 0)
# (0, 1)
# (1, 0)
# (1, 1)
# (2, 0)
# (2, 1)

## Loop Control Statements:
### Inside loops, you can use loop control statements to modify the loop's behavior:
### "break": Terminates the loop prematurely.
### "continue": Skips the current iteration and continues with the next iteration.

In [ ]:
# Example of break statement
for i in range(5):
    if i == 3:
        break
    print(i)
# Output:
# 0
# 1
# 2

# Example of continue statement
for i in range(5):
    if i == 2:
        continue
    print(i)
# Output:
# 0
# 1
# 3
# 4

## In range

In [ ]:
for i in range (0,10):

    print(i)
    
# output 0,1,2,3,4....

# ⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃⊂⊃

# FUNCTIONS

## Simple function

In [7]:
def greet():
    print("Hello, welcome!")
    
greet()  # calling the function

## Function with variable

In [ ]:
def greet_user(name):
    print(f"Hello, {name}!")

greet_user("John")     # can´t have it like greet_user = "John" because str. is not callable
# Output: "Hello, John!"

greet_user()

## Return statement

In [ ]:
def add(a, b):
    result = a + b
    return result

sum_result = add(5, 3)
print(sum_result)

# CLASSES

In [ ]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print("Woof!")

# Creating objects of the Dog class
dog1 = Dog("Buddy", 3)
dog2 = Dog("Max", 5)

# Accessing object attributes
print(dog1.name)  # Output: "Buddy"
print(dog2.age)   # Output: 5

# Calling object methods
dog1.bark()  # Output: "Woof!"
dog2.bark()  # Output: "Woof!"

In [ ]:
class Polygon:
    def __init__(self, sides, name):
        self.sides = sides
        self.name = name
        
square = Polygon(4, "Square")
triangle = Polygon(3, "Triangle")


print(triangle.sides)
print(triangle.name)

## Inheritance

### Inheritance allows a class to inherit attributes and methods from another class. This promotes code reuse and allows you to create subclasses with additional features.

In [ ]:
class Animal:
    def __init__(self, species):
        self.species = species

    def make_sound(self):
        pass  # A placeholder method

class Cat(Animal):
    def __init__(self, name, age):
        super().__init__("Cat")
        self.name = name
        self.age = age

    def make_sound(self):
        print("Meow!")

# Creating objects of the Cat class
cat1 = Cat("Whiskers", 2)
cat2 = Cat("Fluffy", 4)

# Accessing object attributes
print(cat1.name)     # Output: "Whiskers"
print(cat2.species)  # Output: "Cat"

# Calling object methods
cat1.make_sound()  # Output: "Meow!"
cat2.make_sound()  # Output: "Meow!"

## Using Properties:
### Properties allow you to define getter and setter methods for class attributes, providing control over attribute access and modification.

In [ ]:
class Circle:
    def __init__(self, radius):
        self._radius = radius

    @property
    def radius(self):
        return self._radius

    @radius.setter
    def radius(self, value):
        if value >= 0:
            self._radius = value
        else:
            raise ValueError("Radius cannot be negative.")

    def area(self):
        return 3.14 * self._radius ** 2

# Creating an object of the Circle class
circle = Circle(5)

# Accessing the radius attribute using the property
print(circle.radius)  # Output: 5

# Using the setter to modify the radius
circle.radius = 7
print(circle.radius)  # Output: 7

# Using the area method
print(circle.area())  # Output: 153.86